@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  font-family: 'Share Tech Mono', sans-serif;
}

#title {
  position: fixed;
  text-align: center;
  padding: 8px;
  width: 100%;
  background-color: white;
  z-index: 69;
}

#parent-plus:link {
  color: black;
}

#parent-plus:hover {
  color: grey;
}

#web-container {
  position: relative;
  width: fit-content;
  height: fit-content;
}