@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  font-family: 'Share Tech Mono', sans-serif;
}

#title {
  margin-top: 8px;
  background-color: white;
  z-index: 69;
}

#parent-plus:link {
  color: black;
}

#parent-plus:hover {
  color: grey;
}

#web-container {
  cursor: grab;
  overflow: auto;
}

.bubble {
  width: fit-content;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 50%;
  padding: 16px;
}